<div class="dashboard-container">
    <div class="dashboard-header">
        <h2>Welcome to the Dashboard!</h2>
        <div class="header-buttons">
            <button class="btn btn-secondary" (click)="logout()">Logout</button>
            <button class="btn btn-primary" routerLink="/admin/add-data" routerLinkActive="active">Add Data</button>
        </div>
    </div>

    <div class="search-bar">
        <input type="text" [(ngModel)]="searchIndex" placeholder="Search by Index Number" class="search-input" />
        <button class="btn btn-primary" (click)="filterData()">Search</button>
    </div>

    <table class="table">
        <thead class="thead-light t-head">
            <tr>
                <th scope="col">Student Name</th>
                <th scope="col">Class</th>
                <th scope="col">Index Number</th>
                <th scope="col">Reason</th>
                <th scope="col">Agreement End Date</th>
                <th scope="col">Active</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr
                *ngFor="let stdata of filteredData; let i = index"
                (click)="selectData(i, stdata)"
                [ngClass]="rowIndex == i ? 'active' : ''"
            >
                <td>{{ stdata.StudentName }}</td>
                <td>{{ stdata.Class }}</td>
                <td>{{ stdata.sIndexNum }}</td>
                <td>{{ stdata.Reason }}</td>
                <td>{{ stdata.AgreementEndDate | date:'mediumDate' }}</td>
                <td>
                    <div class="form-check form-switch">
                        <input
                            class="form-check-input"
                            type="checkbox"
                            id="flexSwitchCheckDefault"
                            [checked]="stdata.Isactive"
                            (change)="toggleActive(stdata)"
                        />
                        <label class="form-check-label" for="flexSwitchCheckDefault">
                            {{ stdata.Isactive ? 'Active' : 'Inactive' }}
                        </label>
                    </div>
                </td>
                <td class="action-buttons">
                    <a [routerLink]="['/admin/view-data', stdata._id]">
                        <button
                        type="button"
                        [disabled]="rowIndex != i"
                        class="btn-xs icon btn-view"
                        title="View"
                    >
                        <i class="fa fa-eye"></i>
                    </button>
                    </a>
                    <a [routerLink]="['/admin/edit-data', stdata._id]" >
                        <button
                        type="button"
                        [disabled]="rowIndex != i"
                        class="btn-xs icon btn-edit"
                        title="Edit"
                    >
                        <i class="fa fa-pencil-square-o"></i>
                    </button>
                    </a>
                    <button
                        type="button"
                        [disabled]="rowIndex != i"
                        class="btn-xs icon btn-delete"
                        title="Delete"
                        (click)="deleteData(stdata._id,stdata.sIndexNum)"
                    >
                        <i class="fa fa-trash"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>