<nav class=" nav-custom">
    <div class="container-fluid">
        <!-- Brand with Logo -->
        <div class="navbar-brand">
            <img src="logo.png" alt="Logo" class="navbar-logo">
            <a class="main-text text-decoration-none" href="#">Madulans DB</a>
        </div>

        <!-- Toggle Button (Visible only on small screens) -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible Navbar -->
        <div class="navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a routerLink="home" class="nav-link" (click)="closeNavbar()">Home</a>
                </li>
                <li class="nav-item">
                    <a routerLink="members" class="nav-link" (click)="closeNavbar()">Members</a>
                </li>
                <li class="nav-item">
                    <a routerLink="admin" class="nav-link" (click)="closeNavbar()">Admin</a>
                </li>
                <li class="nav-item">
                    <a routerLink="search" class="nav-link" (click)="closeNavbar()">Search</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>